body {
  background: #222;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 320px;
  height: 568px;
  background: #d9dbdc;
  background-size: auto 100%;
  border: 30px solid #000;
  text-shadow: 2px 2px #000;
  user-select: none;
  font-family: 'Yantramanav', sans-serif;
  color: #fff;
}

.location-section {
  flex: 1 1;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  background-color: rgba(0,0,0,0.5);
}

.image-pane-section {
  flex: 1 1 100%;
}

.weather-section {
  flex: 1 1;
  background-color: rgba(10, 4, 4, 0.8);
}

.temperature-section {
  flex: 1 1;
  background-color: rgba(10, 4, 4, 0.8);
}

.weathertype {
  font-size: 25px;
  position: relative;
  bottom: 18px;
}

.temp_maxmin {
  padding-left: 15px;
  font-size: 25px;
}

.fa-angle-up {
  color: #0b0;
}

.fa-angle-down {
  color: #f00;
}

.degrees {
  text-align: center;
  font-size: 140px;
}

.units {
  text-align: right;
  font-size: 30px;
  padding-right: 10px;
}

.divider, .fahrenheit {
  color: #777;
}

.celcius, .fahrenheit {
  cursor: pointer;
}

@media all and (max-width: 380px) {
  .container {
    width: calc(100% - 60px);
  }
}